extends layoutFood

block content

  script.
    var desc = "分享自「#{rest.name}」的美食";   

    $(document).ready(function(){
      $.ajax({
        url: 'http://www.carlub.cn/sign',
        type: 'GET',
        error: function(err){
          console.log('error: ', err);
          //alert('从服务器获取签名失败');
        },
        success: function(data, status){
          console.log('status, data: ', status, data);          
          //alert('成功获取签名');
          
          wx.config({
            // debug: true,
            appId: data.appId,
            timestamp: data.timestamp,
            nonceStr: data.nonceStr,
            signature: data.signature,
            jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'openLocation']
          });
        }
      });    
    });

    wx.ready(function(e, x){      
      wx.onMenuShareTimeline({
        title: '#{title}',
        desc: desc,
        link: '#{url}',
        imgUrl: '#{thumb}',
        success: function () {
          //alert("分享成功");
        },
        cancel: function(){
          //alert("用户取消了分享");          
        }
      });

      wx.onMenuShareAppMessage({
        title: '#{title}',
        desc: desc,
        link: '#{url}',
        imgUrl: '#{thumb}',
        success: function () {
          //alert("分享成功");
        },
        cancel: function(){
          //alert("用户取消了分享");          
        }
      });
    });
    
    wx.error(function(e, x){
      console.log('wx.error, e, x: ', e, x);
    });
    
    function openLocation(lat, lng, name, address) {
      wx.openLocation({
        latitude:  lat, // 纬度，浮点数，范围为90 ~ -90
        longitude: lng, // 经度，浮点数，范围为180 ~ -180。
        name: name, // 位置名
        address: address, // 地址详情说明
        scale: 15, // 地图缩放级别,整形值,范围从1~28。默认为最大
        infoUrl: 'http://www.carlub.cn' // 在查看位置界面底部显示的超链接,可点击跳转
      });
    }

  div(style="padding:30px 12px 30px 12px;")
  
   div(style="font-size:86px; color:#987cb9; font-weight:bold; text-align:center;")
    h1(style="margin-bottom: 30px; margin-top: 0px; font-size: 0.8em;")=title
  
   div(style="text-align:center;line-height: 8px;")
  
    div(style="display:inline-block; border-top:solid 8px #987cb9; width:20%;")          
  
    div(style="display:inline-block; border-top:solid 8px #444; width:20%; margin-left:10px;")

  each content, i in contents

   div(style="border: 0px none; padding: 0px; position: relative; padding-bottom:12px; padding-left:12px; padding-right:12px; padding-top:8px;")
   
    div(style="height:auto; overflow:hidden; padding-bottom:0px;")    
   
     div(style="width:100%;")

      if (content.desc)
        p(style="font-size:3.5rem; color:#736F6E; margin-left: 0px;margin-right: 0px;line-height: 2em;margin-top: 10px;margin-bottom: 0px;")=content.desc

      if (content.imageURL)
        img(style="width:100%; display:block;", src='http://cdn.carlub.cn/'+content.imageURL+'.jpg')       

  if (rest)
    
    div(style="text-align:center;line-height: 8px; margin-top: 4em; margin-bottom: 2.5em;")
  
      div(style="display:inline-block; border-top:solid 8px #987cb9; width:20%;")          
  
      div(style="display:inline-block; border-top:solid 8px #444; width:20%; margin-left:10px;")

    div(style="border: 0px none; padding: 0px; position: relative; padding-bottom:12px; padding-left:12px; padding-right:12px; padding-top:12px;")

      p(style="font-size:3.5rem; color:#736F6E; margin-left: 0px;margin-right: 0px;line-height: 2em;margin-top: 20px;margin-bottom: 20px; text-align: center; font-weight: 900;").
        「#{rest.name}」<br/>
        
      p(style="font-size:3.5rem; color:#736F6E; margin-left: 0px;margin-right: 0px;line-height: 2em;margin-top: 20px;margin-bottom: 20px; text-align: center; font-weight: 900;").
                
        <i class="fa fa-location-arrow"></i>：<a href="#" onclick="openLocation(#{rest.lat},#{rest.lng},'#{rest.name}','#{rest.address}');return false;" style="color: #987cb9;">#{rest.address}</a>
        

    