extends layout

block content

  script.
    var desc = "分享自「小店长APP」";   
    var hasShop = false; 

    $(document).ready(function(){      
      //if(hasShop) adaptSize();
      $.ajax({
        url: 'http://www.carlub.cn/sign',
        type: 'GET',
        error: function(err){
          console.log('error: ', err);
          //alert('从服务器获取签名失败');
        },
        success: function(data, status){
          console.log('status, data: ', status, data);          
          //alert('成功获取签名');
          
          wx.config({
            // debug: true,
            appId: data.appId,
            timestamp: data.timestamp,
            nonceStr: data.nonceStr,
            signature: data.signature,
            jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'openLocation']
          });
        }
      });      
    });

    wx.ready(function(e, x){      
      wx.onMenuShareTimeline({
        title: '#{title}',
        desc: desc,
        link: '#{url}',
        imgUrl: '#{thumb}',
        success: function () {
          //alert("分享成功");
        },
        cancel: function(){
          //alert("用户取消了分享");          
        }
      });

      wx.onMenuShareAppMessage({
        title: '#{title}',
        desc: desc,
        link: '#{url}',
        imgUrl: '#{thumb}',
        success: function () {
          //alert("分享成功");
        },
        cancel: function(){
          //alert("用户取消了分享");          
        }
      });
    });
    
    wx.error(function(e, x){
      console.log('wx.error, e, x: ', e, x);
    });
    
    function openLocation(lat, lng, name, address) {
      wx.openLocation({
        latitude:  lat, // 纬度，浮点数，范围为90 ~ -90
        longitude: lng, // 经度，浮点数，范围为180 ~ -180。
        name: name, // 位置名
        address: address, // 地址详情说明
        scale: 15, // 地图缩放级别,整形值,范围从1~28。默认为最大
        infoUrl: 'http://www.carlub.cn' // 在查看位置界面底部显示的超链接,可点击跳转
      });
    }

  div(style="padding:0px 0px 15px 0px;")
  
   div(style="font-weight:bold; text-align:center;font-size:13px;")
    h1(style="margin-bottom: 0px; margin-top: 20px;")=title
  
   div(style="text-align:center;line-height: 8px; margin-top:10px;")
  
    div(style="display:inline-block; border-top:solid 2px #736F6E; width:30%;")          
  
    div(style="display:inline-block; border-top:solid 2px #736F6E; width:30%; margin-left:10px;")

  each content, i in contents

   div(style="border: 0px none; padding: 0px; position: relative; padding-bottom:6px; padding-left:0px; padding-right:0px; padding-top:4px;")
   
    div(style="height:auto; overflow:hidden; padding-bottom:0px;")    
   
     div(style="width:100%;")

      if (content.desc)
        p(style="font-size:14px; color:#000; margin-left: 0px;margin-right: 0px;line-height: 25px;margin-top: 10px;margin-bottom: 0px;")=content.desc

      if (content.imageURL)
        img(style="width:100%; display:block;", src='http://cdn.carlub.cn/'+content.imageURL+'.jpg')       

  if (shop && shopEnabled)
    script.         
      hasShop = true; 
      desc = "分享自「#{shop.name}」";

      function adaptSize() {
        var width = $(window).width() - 40; 
        var height = parseInt(width * 9 /16); 
        var mapWidth = parseInt(width/2);
        var mapHeight = parseInt(height/2);
        
        window.parent.document.getElementById("mapPage").width = width;
        window.parent.document.getElementById("mapPage").height = height;

        $("#mapPage").attr("src", "http://apis.map.qq.com/ws/staticmap/v2/?center=#{shop.lat},#{shop.lng}&zoom=11&markers=size:large|color:red|#{shop.lat},#{shop.lng}&key=EEQBZ-YXG3D-AL643-PPLVA-2GRW5-K6BQY&scale=2&size="+mapWidth+"*"+mapHeight);
      }

    div(style="text-align:center; margin-top: 20px; margin-bottom: 0px;")
  
      div(style="display:inline-block; border-top:solid 2px #736F6E; width:15%; vertical-align:middle;")          
      
      P(style="display:inline-block; font-size:20px; color:#000; margin-left: 0px; text-align: center; font-weight: 900; max-width:60%; margin-top:10px; margin-bottom:10px").
        「#{shop.name}」

      div(style="display:inline-block; border-top:solid 2px #736F6E; width:15%; margin-left:0px; vertical-align:middle;")

    div(style="border: 0px none; padding: 0px; position: relative; padding-bottom:0px; padding-left:0px; padding-right:0px; padding-top:12px;")

      img(style="width:100%; display:block;" src='http://cdn.carlub.cn/'+shop.avatarURL+'.jpg')
        
      p(style="font-size:16px; color:#736F6E; margin-left: 0px;margin-right: 0px;line-height: 30px;margin-top: 20px;margin-bottom: 0px; text-align: center; font-weight: 900;").
                
        <i class="fa fa-phone"></i>：<a href="tel:#{shop.phone}" style="color: #607fa6; text-decoration:blink">#{shop.phone}</a><br/>

        <i class="fa fa-location-arrow"></i>：<a href="#" onclick="openLocation(#{shop.lat},#{shop.lng},'#{shop.name}','#{shop.address}');return false;" style="color:#607fa6; text-decoration:blink">#{shop.address}</a>

  div(style="border: 0px none; padding: 0px; position: relative; padding-bottom:0px; padding-left:0px; padding-right:0px; padding-top:20px;")
    
      p(style="font-size:15px; color:#736F6E; margin-left: 0px;margin-right: 0px;line-height: 20px;margin-top: 0px;margin-bottom: 0px; font-weight: 500;").
        阅读 #{count} 次
    